<web-app>

<servlet>
<servlet-name>A</servlet-name>
<servlet-class>servlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>A</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>

<filter>
<filter-name>B</filter-name>
<filter-class>filter1</filter-class>
</filter>
<filter-mapping>
<filter-name>B</filter-name>
<url-pattern>/first</url-pattern>
</filter-mapping>
</web-app>