<web-app>
  <servlet>
      <servlet-class>login</servlet-class>
      <servlet-name>A</servlet-name>
  </servlet>
  <servlet-mapping>
       <servlet-name>A</servlet-name>
       <url-pattern>/mylogin</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-class>welcome</servlet-class>
      <servlet-name>B</servlet-name>
  </servlet>
  <servlet-mapping>
       <servlet-name>B</servlet-name>
       <url-pattern>/wel</url-pattern>
  </servlet-mapping>

</web-app>