BODY {
	FONT-SIZE: 70%; MARGIN: 0px; OVERFLOW: scroll; COLOR: #000000; BACKGROUND-COLOR: #f1f1ed
}
BODY {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
P {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H1 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H2 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H3 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H4 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TABLE {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TD {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TH {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
UL {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
OL {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TEXTAREA {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
INPUT {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 200%
}
H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 160%; MARGIN-BOTTOM: 10px
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 120%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 90%
}
H6 {
	FONT-SIZE: 80%
}
H1 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H2 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H3 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H4 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H5 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H6 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
IFRAME {
	MARGIN: 0px
}
DIV {
	WIDTH: 100%
}
TABLE {
	FONT-SIZE: 100%
}
TH {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE.example {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/bgfadegreen.gif); PADDING-BOTTOM: 8px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e5eecc
}
TABLE.example_code {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.example_code TD {
	FONT-SIZE: 110%; FONT-FAMILY: courier new
}
TABLE.code {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #e5eecc
}
TABLE.code TD {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 110%; PADDING-BOTTOM: 4px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #d4d4d4 1px solid; FONT-FAMILY: courier new; BACKGROUND-COLOR: #ffffff
}
TABLE.example_code P {
	FONT-FAMILY: courier new
}
TABLE.code P {
	FONT-FAMILY: courier new
}
TABLE.reference {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reference TH {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3c3c3 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #e5eecc
}
TABLE.reference TD {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3c3c3 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid
}
H2.example {
	MARGIN-TOP: 0px; COLOR: #617f10; BACKGROUND-COLOR: transparent
}
H2.example_head {
	MARGIN-TOP: 0px; COLOR: #617f10; BACKGROUND-COLOR: transparent
}
H2.example {
	FONT-SIZE: 120%
}
H2.example_head {
	FONT-SIZE: 140%
}
H2.home {
	MARGIN-TOP: 0px; PADDING-LEFT: 1px; FONT-SIZE: 120%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 1px; COLOR: #900b09; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
H2.tutheader {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #303030; PADDING-TOP: 2px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #fafaf6
}
H2.left {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; COLOR: #404040; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
SPAN.marked {
	COLOR: #e80000; BACKGROUND-COLOR: transparent
}
SPAN.deprecated {
	COLOR: #e80000; BACKGROUND-COLOR: transparent
}
P.tutintro {
	MARGIN-TOP: 0px; FONT-SIZE: 125%
}
P.intro {
	MARGIN-TOP: 10px; FONT-SIZE: 120%; COLOR: #000000; BACKGROUND-COLOR: transparent
}
PRE {
	FONT-SIZE: 110%; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; FONT-FAMILY: "courier new"
}
IMG.float {
	FLOAT: left
}
IMG.navup {
	VERTICAL-ALIGN: middle
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #d4d4d4; HEIGHT: 1px; BACKGROUND-COLOR: #d4d4d4; BORDER-RIGHT-WIDTH: 0px
}
A.example {
	FONT-WEIGHT: bold
}
A:link {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A.left:link {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.left:visited {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.left:hover {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.left:active {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.aright:link {
	COLOR: #900b09; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.aright:visited {
	COLOR: #900b09; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.aright:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.aright:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.footer:link {
	COLOR: #909090; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.footer:visited {
	COLOR: #909090; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.footer:hover {
	COLOR: #909090; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.footer:active {
	COLOR: #909090; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.m_item:link {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.m_item:visited {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.m_item:hover {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.m_item:active {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
TD.blacknav {
	BORDER-RIGHT: #868686 1px solid; BORDER-TOP: #868686 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: white; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
SPAN.color_h1 {
	COLOR: #98bf21
}
SPAN.left_h2 {
	COLOR: #617f10
}
TABLE.right {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 0px; COLOR: #000000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
TH.right {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px; BACKGROUND-IMAGE: url(/images/pagetop_gradient.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #404040; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
TD.right {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #ffffff
}
